@import url(http://fonts.googleapis.com/css?family=Satisfy);
.cursive {
  font-family: 'Satisfy', cursive; }

h1, h2, h3, h4, h5, h6 {
  padding: 10px; }

p {
  padding: 8px; }

p {
  font-size: 1.2em; }

p.small {
  font-size: 1em; }

p.lead {
  font-size: 2em; }

p.caption {
  font-size: 1em;
  opacity: 0.5; }

.block-heading {
  background-color: #90CAF9;
  color: white; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

hr.large {
  border-top: 5px solid #eee; }

a.currently_filtered {
  color: #F44336;
  text-decoration: underline; }

body {
  overflow-x: hidden;
  background-color: #f3f3f3; }
  body .page-content {
    margin-right: 30px; }
    body .page-content .content_panel {
      background-color: white;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-top: 11px;
      margin-top: 20px;
      margin-bottom: 20px; }

.btn {
  border-radius: 0px; }

.navigation.mobile {
  margin: 15px; }

.navigation {
  background-color: #2196F3;
  color: white; }
  .navigation a:hover {
    color: #F44336;
    color: red;
    text-decoration: none; }
  .navigation a {
    color: white;
    font-weight: 200; }
  .navigation ul.nav-list {
    padding: 0px; }
    .navigation ul.nav-list a {
      padding-left: 20px; }
    .navigation ul.nav-list .main-nav-tab.active, .navigation ul.nav-list li.sub-nav-tab.active {
      background-color: #f3f3f3;
      border-left-color: red;
      border-left-style: solid;
      border-left-width: 5px; }
      .navigation ul.nav-list .main-nav-tab.active a, .navigation ul.nav-list li.sub-nav-tab.active a {
        padding-left: 15px;
        color: #F44336; }
      .navigation ul.nav-list .main-nav-tab.active i, .navigation ul.nav-list li.sub-nav-tab.active i {
        color: #F44336; }
    .navigation ul.nav-list li.main-nav-tab {
      list-style: none;
      padding: 5px; }
    .navigation ul.nav-list li.sub-nav-tab {
      list-style: none;
      padding: 5px; }

/*

If you want this to work then use: 

http://jsfiddle.net/livibetter/HV9HM/



 #sticky {
    border-radius: 0.5ex;
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
} */
.navigation.mobile {
  margin: 15px; }

.navigation {
  background-color: #2196F3;
  color: white; }
  .navigation a:hover {
    color: #F44336;
    color: red;
    text-decoration: none; }
  .navigation a {
    color: white;
    font-weight: 200; }
  .navigation ul.nav-list {
    padding: 0px; }
    .navigation ul.nav-list a {
      padding-left: 20px; }
    .navigation ul.nav-list .main-nav-tab.active, .navigation ul.nav-list li.sub-nav-tab.active {
      background-color: #f3f3f3;
      border-left-color: red;
      border-left-style: solid;
      border-left-width: 5px; }
      .navigation ul.nav-list .main-nav-tab.active a, .navigation ul.nav-list li.sub-nav-tab.active a {
        padding-left: 15px;
        color: #F44336; }
      .navigation ul.nav-list .main-nav-tab.active i, .navigation ul.nav-list li.sub-nav-tab.active i {
        color: #F44336; }
    .navigation ul.nav-list li.main-nav-tab {
      list-style: none;
      padding: 5px; }
    .navigation ul.nav-list li.sub-nav-tab {
      list-style: none;
      padding: 5px; }

/*

If you want this to work then use: 

http://jsfiddle.net/livibetter/HV9HM/



 #sticky {
    border-radius: 0.5ex;
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
} */
.top-banner img {
  border-bottom-color: #2196F3;
  border-bottom-style: solid;
  border-bottom-width: 2px; }
.top-banner .website-title {
  position: absolute;
  right: 0;
  top: 0; }
.top-banner .website-title > h1 {
  color: #F44336;
  margin: 5px;
  padding: 10px;
  background-color: white;
  padding: 7px; }

.page_breadcrumbs {
  background-color: #2196F3;
  padding-left: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  .page_breadcrumbs a.breadcrumb_link {
    color: white; }

#footer {
  background-color: #90CAF9; }

.full-circle {
  background-color: #F44336;
  height: 150px;
  width: 150px;
  text-align: center;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px; }

.full-circle p {
  color: #fff;
  font-size: 60px;
  line-height: 150px; }

.widget {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden; }

.widget.widget-large {
  height: 800px; }

.widget.widget-medium {
  height: 400px; }

.widget.widget-small {
  height: 200px; }

/* 

Scroll bar CSS: 

http://www.yodelay.com/development/google-style-scrollbars-css/ 

*/
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  background: #AAA; }

::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }

.zoom_img img {
  -moz-transition: -moz-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  z-index: 0; }

.zoom_img img:hover {
  cursor: pointer;
  position: relative;
  z-index: 9;
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2); }

/*# sourceMappingURL=core.css.map */
