.cursive {
	font-family: 'Satisfy', cursive;
}

h2 {
	background-color: $main-sub;
	padding: 10px;
	color: white;
}

p {
	padding: 8px
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}