.navigation.mobile {
    margin: 15px;
}
.navigation {
    background-color: $main;
    color: white;
    a:hover {
        color: $accent;
        color: red;
        text-decoration: none;
    }
    a {
        color: white;
        font-weight: 200;
    }
    ul.nav-list {
        padding: 0px;
        a {
            padding-left: 20px;
        }        
        .main-nav-tab.active, li.sub-nav-tab.active {
            a {
                padding-left: 15px;
                color: $accent;
            }
            i {
                 color: $accent;   
            }
            background-color: $canvas-colour;
            border-left: {
                color: red;
                style: solid;
                width: 5px;
            }
        }


        li.main-nav-tab {
            list-style: none;
            padding: 5px;
        }
        li.sub-nav-tab {
            list-style: none;
            padding: 5px;
        }
    }
}


/*

If you want this to work then use: 

http://jsfiddle.net/livibetter/HV9HM/



 #sticky {
    border-radius: 0.5ex;
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
} */